<a href="https://colab.research.google.com/github/Karan1914/DataScience-Pandas100/blob/master/Pandas100.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[Github_Link](https://github.com/Karan1914/DataScience-Pandas100)

**THIS FILE IS FOR 100 PANDAS PRACTICE QUESTIONS**

In [2]:
# Q1 : Import and check pandas version
import pandas as pd
print(pd.__version__)

1.0.5

In [3]:
# Q2 : From the given list, create a pandas Series object and print it on the screen
# stocks = ['PLW', 'CDR', '11B', 'TEN']

stocks = ['PLW', 'CDR', '11B', 'TEN']
print(pd.Series(stocks))

0    PLW
1    CDR
2    11B
3    TEN
dtype: object

In [4]:
# From a dictionary below , create an Series object and assign it to quotation variable and print it on the screen

stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}

quotation = pd.Series(data=stocks)

print(quotation)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

In [8]:
# Convert the above variable quotation to the list and print the result

# print(list(quotation))

# or 
quotation = quotation.tolist()
print(quotation)

[387.0, 339.5, 349.5, 391.0]

In [11]:
# Convert the quotations to the DataFrame object, set the column name to price 

stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)

quotations = pd.DataFrame(quotations, columns=['price'])
print(quotations)

     price
PLW  387.0
CDR  339.5
TEN  349.5
11B  391.0

In [15]:
import numpy as np
import pandas as pd

ind = np.arange(101,110,1)
value = np.arange(10.0,100.0,10.0)

Ser = pd.Series(value,index=ind)
print(Ser)

# s = pd.Series(data=np.arange(10, 100, 10), index=np.arange(101, 110), dtype='float')
# print(s)

101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
109    90.0
dtype: float64

In [22]:
# Convert the following list type to int

series = pd.Series(['001', '002', '003', '004'], list('abcd'))

# series = pd.to_numeric(series)

series = series.astype(int)
print(series)

a    1
b    2
c    3
d    4
dtype: int64

In [26]:
""" stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks) """
# Add 2 key elements in the above series : key:"BBT" value :25.5 , key:"F51" value =19.2

stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)

quotations["BBT"] = 25.5

quotations["F51"] = 19.2

# quotations = quotations.append(pd.Series({'BBT': 25.5, 'F51': 19.2}))
print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
BBT     25.5
F51     19.2
dtype: float64

In [37]:
""" stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks) """
# Reset the index and name the column as ticker and price

stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)

quotations = pd.DataFrame(quotations).reset_index()

quotations.columns = ['Ticker','Price']

print(quotations)

  Ticker  Price
0    PLW  387.0
1    CDR  339.5
2    TEN  349.5
3    11B  391.0

In [38]:
# Create and print a dataframe of companies 

data = {
    'company' : ["Amazon","Microsoft","Facebook"],
'price':[2375.0,178.6,179.2],
'ticker':["AMZN.US","MSFT.US","FB.US"]
    
}
companies = pd.DataFrame(data)

print(companies)

     company   price   ticker
0     Amazon  2375.0  AMZN.US
1  Microsoft   178.6  MSFT.US
2   Facebook   179.2    FB.US

In [57]:
# Convert the first column of the companies to index , print companies

data = {
    'company' : ["Amazon","Microsoft","Facebook"],
'price':[2375.0,178.6,179.2],
'ticker':["AMZN.US","MSFT.US","FB.US"]
    
}
companies = pd.DataFrame(data)

companies = companies.set_index('company')

print(companies)

            price   ticker
company
Amazon     2375.0  AMZN.US
Microsoft   178.6  MSFT.US
Facebook    179.2    FB.US

In [56]:
# Build the datetimeindex object containing all dates of jan 2020 in the format yyyy-mm-dd , assign it to date range variable 

# answer 1
data = pd.date_range('1/1/2020', periods = 31, freq ='D')

# answer 2 
date_range = pd.date_range(start='2020-01-01', end='2020-01-31')
print(date_range)

TypeError: ignored

In [58]:
data = pd.date_range('1/1/2020', periods = 31, freq ='D')
print(data)

TypeError: ignored

In [60]:
# Build the datetimeindex object containing all mondays of 2020 in the format yyyy-mm-dd , assign it to date range variable 
import pandas as pd
 
 
date_range = pd.date_range(start='2020-01-01', periods=52, freq='W-MON')
print(date_range)

TypeError: ignored

In [2]:
import pandas as pd
 
 
date_range = pd.date_range(start='2020-01-01', end='2020-12-31', freq='W-MON')
print(date_range)

DatetimeIndex(['2020-01-06', '2020-01-13', '2020-01-20', '2020-01-27',
               '2020-02-03', '2020-02-10', '2020-02-17', '2020-02-24',
               '2020-03-02', '2020-03-09', '2020-03-16', '2020-03-23',
               '2020-03-30', '2020-04-06', '2020-04-13', '2020-04-20',
               '2020-04-27', '2020-05-04', '2020-05-11', '2020-05-18',
               '2020-05-25', '2020-06-01', '2020-06-08', '2020-06-15',
               '2020-06-22', '2020-06-29', '2020-07-06', '2020-07-13',
               '2020-07-20', '2020-07-27', '2020-08-03', '2020-08-10',
               '2020-08-17', '2020-08-24', '2020-08-31', '2020-09-07',
               '2020-09-14', '2020-09-21', '2020-09-28', '2020-10-05',
               '2020-10-12', '2020-10-19', '2020-10-26', '2020-11-02',
               '2020-11-09', '2020-11-16', '2020-11-23', '2020-11-30',
               '2020-12-07', '2020-12-14', '2020-12-21', '2020-12-28'],
              dtype='datetime64[ns]', freq='W-MON')

In [3]:
date_range = pd.date_range('1/1/2021', periods = 24, freq ='H')
print(date_range)

# or


 
 
date_range = pd.date_range(start='2021-01-01', end='2021-01-02', freq='H', closed='left')
print(date_range)

DatetimeIndex(['2021-01-01 00:00:00', '2021-01-01 01:00:00',
               '2021-01-01 02:00:00', '2021-01-01 03:00:00',
               '2021-01-01 04:00:00', '2021-01-01 05:00:00',
               '2021-01-01 06:00:00', '2021-01-01 07:00:00',
               '2021-01-01 08:00:00', '2021-01-01 09:00:00',
               '2021-01-01 10:00:00', '2021-01-01 11:00:00',
               '2021-01-01 12:00:00', '2021-01-01 13:00:00',
               '2021-01-01 14:00:00', '2021-01-01 15:00:00',
               '2021-01-01 16:00:00', '2021-01-01 17:00:00',
               '2021-01-01 18:00:00', '2021-01-01 19:00:00',
               '2021-01-01 20:00:00', '2021-01-01 21:00:00',
               '2021-01-01 22:00:00', '2021-01-01 23:00:00'],
              dtype='datetime64[ns]', freq='H')
DatetimeIndex(['2021-01-01 00:00:00', '2021-01-01 01:00:00',
               '2021-01-01 02:00:00', '2021-01-01 03:00:00',
               '2021-01-01 04:00:00', '2021-01-01 05:00:00',
               '2021-01-01 06:00:00', '2021-01-01 07:00:00',
               '2021-01-01 08:00:00', '2021-01-01 09:00:00',
               '2021-01-01 10:00:00', '2021-01-01 11:00:00',
               '2021-01-01 12:00:00', '2021-01-01 13:00:00',
               '2021-01-01 14:00:00', '2021-01-01 15:00:00',
               '2021-01-01 16:00:00', '2021-01-01 17:00:00',
               '2021-01-01 18:00:00', '2021-01-01 19:00:00',
               '2021-01-01 20:00:00', '2021-01-01 21:00:00',
               '2021-01-01 22:00:00', '2021-01-01 23:00:00'],
              dtype='datetime64[ns]', freq='H')

In [12]:
import numpy as np
day = pd.date_range(start='2021-03-01',end='2021-03-31')
#print(day)
day_of_year = np.arange(60,91,1)
#print(day_of_year)

df = pd.DataFrame(columns=['day','day_of_year'])
df['day'] = day
df['day_of_year'] = day_of_year

print(df)


# Solution 2 
import pandas as pd
 
 
date_range = pd.date_range(start='2021-03-01', periods=31)
df = pd.DataFrame(data=date_range, columns=['day'])
df['day_of_year'] = df['day'].dt.dayofyear
print(df)

          day  day_of_year
0  2021-03-01           60
1  2021-03-02           61
2  2021-03-03           62
3  2021-03-04           63
4  2021-03-05           64
5  2021-03-06           65
6  2021-03-07           66
7  2021-03-08           67
8  2021-03-09           68
9  2021-03-10           69
10 2021-03-11           70
11 2021-03-12           71
12 2021-03-13           72
13 2021-03-14           73
14 2021-03-15           74
15 2021-03-16           75
16 2021-03-17           76
17 2021-03-18           77
18 2021-03-19           78
19 2021-03-20           79
20 2021-03-21           80
21 2021-03-22           81
22 2021-03-23           82
23 2021-03-24           83
24 2021-03-25           84
25 2021-03-26           85
26 2021-03-27           86
27 2021-03-28           87
28 2021-03-29           88
29 2021-03-30           89
30 2021-03-31           90

In [21]:
import numpy as np
import pandas as pd


np.random.seed(42)
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}
df = pd.DataFrame(data_dict,index=pd.date_range(start='2020-01-01',periods=1000))
print(df)

              normal   uniform  binomial
2020-01-01  0.496714  0.167483         0
2020-01-02 -0.138264  0.104568         0
2020-01-03  0.647689  0.636430         0
2020-01-04  1.523030  0.706476         0
2020-01-05 -0.234153  0.031586         1
...              ...       ...       ...
2022-09-22 -0.281100  0.280683         1
2022-09-23  1.797687  0.206993         0
2022-09-24  0.640843  0.516573         0
2022-09-25 -0.571179  0.005506         1
2022-09-26  0.572583  0.007664         0

[1000 rows x 3 columns]

In [22]:
# print first 10 rows , then one line blank , then last 5 rows
print(df.head(10))
print()
print(df.tail())

              normal   uniform  binomial
2020-01-01  0.496714  0.167483         0
2020-01-02 -0.138264  0.104568         0
2020-01-03  0.647689  0.636430         0
2020-01-04  1.523030  0.706476         0
2020-01-05 -0.234153  0.031586         1
2020-01-06 -0.234137  0.936212         0
2020-01-07  1.579213  0.051971         0
2020-01-08  0.767435  0.541296         0
2020-01-09 -0.469474  0.709061         1
2020-01-10  0.542560  0.870969         0

              normal   uniform  binomial
2022-09-22 -0.281100  0.280683         1
2022-09-23  1.797687  0.206993         0
2022-09-24  0.640843  0.516573         0
2022-09-25 -0.571179  0.005506         1
2022-09-26  0.572583  0.007664         0

In [23]:
# use info and describe on dataframe

print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1000 entries, 2020-01-01 to 2022-09-26
Freq: D
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   normal    1000 non-null   float64
 1   uniform   1000 non-null   float64
 2   binomial  1000 non-null   int64
dtypes: float64(2), int64(1)
memory usage: 31.2 KB
None
            normal      uniform    binomial
count  1000.000000  1000.000000  1000.00000
mean      0.019332     0.503649     0.19200
std       0.979216     0.288357     0.39407
min      -3.241267     0.003218     0.00000
25%      -0.647590     0.247199     0.00000
50%       0.025301     0.516126     0.00000
75%       0.647944     0.746319     0.00000
max       3.852731     0.999414     1.00000

In [24]:
# find the distribution of binomial values

df['binomial'].value_counts()

0    808
1    192
Name: binomial, dtype: int64

In [25]:
# Extract first 50 records from df and save it to dataframe50.csv

# df.head(50).to_csv('dataframe50.csv')
df[:50].to_csv('dataframe50.csv', sep=',')

In [26]:
df_new = pd.read_csv('dataframe50.csv', index_col=0)
print(df_new)

              normal   uniform  binomial
2020-01-01  0.496714  0.167483         0
2020-01-02 -0.138264  0.104568         0
2020-01-03  0.647689  0.636430         0
2020-01-04  1.523030  0.706476         0
2020-01-05 -0.234153  0.031586         1
2020-01-06 -0.234137  0.936212         0
2020-01-07  1.579213  0.051971         0
2020-01-08  0.767435  0.541296         0
2020-01-09 -0.469474  0.709061         1
2020-01-10  0.542560  0.870969         0
2020-01-11 -0.463418  0.714087         0
2020-01-12 -0.465730  0.801728         0
2020-01-13  0.241962  0.339450         0
2020-01-14 -1.913280  0.814825         0
2020-01-15 -1.724918  0.080115         0
2020-01-16 -0.562288  0.894817         1
2020-01-17 -1.012831  0.547592         0
2020-01-18  0.314247  0.817298         0
2020-01-19 -0.908024  0.452318         1
2020-01-20 -1.412304  0.643578         0
2020-01-21  1.465649  0.526403         0
2020-01-22 -0.225776  0.731590         0
2020-01-23  0.067528  0.081630         0
2020-01-24 -1.424748  0.060352         0
2020-01-25 -0.544383  0.247103         1
2020-01-26  0.110923  0.159545         0
2020-01-27 -1.150994  0.871784         0
2020-01-28  0.375698  0.219214         0
2020-01-29 -0.600639  0.975865         1
2020-01-30 -0.291694  0.336896         1
2020-01-31 -0.601707  0.182118         1
2020-02-01  1.852278  0.789699         0
2020-02-02 -0.013497  0.658708         0
2020-02-03 -1.057711  0.498196         0
2020-02-04  0.822545  0.555364         0
2020-02-05 -1.220844  0.719202         0
2020-02-06  0.208864  0.228455         0
2020-02-07 -1.959670  0.996334         0
2020-02-08 -1.328186  0.974793         0
2020-02-09  0.196861  0.650326         0
2020-02-10  0.738467  0.199542         0
2020-02-11  0.171368  0.680228         0
2020-02-12 -0.115648  0.072198         0
2020-02-13 -0.301104  0.030653         0
2020-02-14 -1.478522  0.257683         0
2020-02-15 -0.719844  0.462623         0
2020-02-16 -0.460639  0.868273         0
2020-02-17  1.057122  0.727169         0
2020-02-18  0.343618  0.742707         1
2020-02-19 -1.763040  0.425493         0

In [ ]:
import pandas as pd

"""
google.csv = 
Date,Open,High,Low,Close,Volume
2020-07-02,1451.84,1488.52,1451.065,1469.93,2860915
2020-07-01,1419.17,1448.48,1414.18,1442.0,2109124
2020-06-30,1396.88,1424.0,1386.9301,1418.05,2014320
2020-06-29,1360.34,1398.0,1351.65,1397.17,2253678
2020-06-26,1432.63,1437.02,1355.0,1362.54,4882014
2020-06-25,1431.22,1442.32,1419.5401,1441.1,1197907
2020-06-24,1463.28,1475.79,1430.0,1432.7,1579579
2020-06-23,1452.0,1475.2,1445.0,1463.98,1887583
2020-06-22,1425.01,1450.95,1419.19,1450.66,1472072
2020-06-19,1440.0,1444.5,1419.0,1424.64,2639167
2020-06-18,1449.85,1452.9699,1426.235,1434.12,1743071
2020-06-17,1452.94,1462.2,1435.125,1452.54,1530500
2020-06-16,1449.0,1457.17,1428.99,1446.47,1534826
2020-06-15,1389.49,1425.0,1387.1952,1420.74,1527652
2020-06-12,1425.86,1434.505,1385.8,1412.92,1833756
2020-06-11,1441.03,1451.6033,1398.41,1401.9,2357243
2020-06-10,1461.51,1472.77,1454.355,1464.7,1588116
2020-06-09,1445.24,1467.8,1442.36,1452.08,1681155
2020-06-08,1426.28,1449.0,1424.48,1448.04,1693881
2020-06-05,1415.64,1446.3,1407.6213,1440.02,2132350
2020-06-04,1436.78,1441.32,1406.01,1414.3,1349105
2020-06-03,1442.7,1449.01,1431.62,1439.25,1386640
2020-06-02,1435.0,1443.0,1421.61,1442.31,1172069
2020-06-01,1425.7,1441.58,1422.28,1434.87,1259254
2020-05-29,1420.43,1436.73,1415.98,1433.52,1852522
2020-05-28,1400.0,1444.46,1399.076,1418.24,1759787
2020-05-27,1420.0,1425.345,1394.6,1420.28,1584185
2020-05-26,1441.96,1445.11,1419.395,1421.37,2229488
2020-05-22,1403.9,1417.0,1395.95,1413.24,1427206
2020-05-21,1410.99,1416.46,1394.39,1406.75,1544976
"""

google = pd.read_csv('google.csv', index_col=0)
google = google.reset_index()
google['Date'] = pd.to_datetime(google['Date'])
google['Year'] = google.Date.dt.year
google['Month'] = google.Date.dt.month

In [ ]:
import pandas as pd
 
 
google = pd.read_csv('google.csv', index_col=0)
google = google.reset_index()
google['Date'] = pd.to_datetime(google['Date'])
google['Year'] = google['Date'].dt.year
google['Month'] = google['Date'].dt.month
print(google.groupby('Month')['Close'].mean())

In [ ]:
# From the google.csv find the index of close which has minimum value
idx_col = google['close'].argmin()
print(google[[idx_col]])

In [ ]:
# permanently drop Year and Month column from google dataframe

google.drop(["Year","Month"],axis=1,inplace=True)
print(google)

"""

import pandas as pd
 
 
google = pd.read_csv('google.csv')
google['Date'] = pd.to_datetime(google['Date'])
google['Year'] = google['Date'].dt.year
google['Month'] = google['Date'].dt.month
google = google.drop(columns=['Year', 'Month'])
print(google)

"""

In [27]:
# rename columns of google dataframe 
google = pd.read_csv('google.csv', index_col=0)
google.columns = ['O', 'H', 'L', 'C', 'V']
print(google)

In [38]:
# Load file from URL and convert it to dataframe then find missing values 

import pandas as pd
 
 
url = 'https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv'

csv = pd.read_csv(url,sep=",")
#print(csv.head())

print(csv.isnull().sum())
print()
print(csv.isna().sum())

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [44]:
print(csv["TotalCharges"].value_counts())

20.2       11
           11
19.75       9
19.65       8
19.9        8
           ..
89.05       1
6510.45     1
401.3       1
2730.85     1
159.2       1
Name: TotalCharges, Length: 6531, dtype: int64

In [55]:
df[df['TotalCharges'] == ' '].shape

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

(0, 21)

In [ ]:
url = 'https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv'
df = pd.read_csv(url)
 
# Calculation of the median for the TotalCharges column
TotalChargesMedian = df['TotalCharges'][df['TotalCharges'] != ' '].median()
 
# Fill the missing values with median
df.loc[df['TotalCharges'] == ' ', 'TotalCharges'] = TotalChargesMedian
 
# Convert TotalCharges column to float type
df['TotalCharges'] = df['TotalCharges'].astype('float')
 
print(df['TotalCharges'].value_counts())

1397.475    11
20.200      11
19.750       9
19.650       8
20.050       8
            ..
607.300      1
1534.050     1
1066.150     1
249.950      1
1024.000     1
Name: TotalCharges, Length: 6531, dtype: int64

In [ ]:
url = 'https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv'
df = pd.read_csv(url)
 
# Calculation of the median for the TotalCharges column
TotalChargesMedian = df['TotalCharges'][df['TotalCharges'] != ' '].median()
 
# Fill the missing values with median
df.loc[df['TotalCharges'] == ' ', 'TotalCharges'] = TotalChargesMedian
 
# Convert TotalCharges column to float type
df['TotalCharges'] = df['TotalCharges'].astype('float')
 
print(df['TotalCharges'].value_counts())

1397.475    11
20.200      11
19.750       9
19.650       8
20.050       8
            ..
607.300      1
1534.050     1
1066.150     1
249.950      1
1024.000     1
Name: TotalCharges, Length: 6531, dtype: int64

In [45]:
url = 'https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv'
df = pd.read_csv(url)
 
# Calculation of the median for the TotalCharges column
TotalChargesMedian = df['TotalCharges'][df['TotalCharges'] != ' '].median()
 
# Fill the missing values with median
df.loc[df['TotalCharges'] == ' ', 'TotalCharges'] = TotalChargesMedian
 
# Convert TotalCharges column to float type
df['TotalCharges'] = df['TotalCharges'].astype('float')
 
print(df['TotalCharges'].value_counts())

1397.475    11
20.200      11
19.750       9
19.650       8
20.050       8
            ..
607.300      1
1534.050     1
1066.150     1
249.950      1
1024.000     1
Name: TotalCharges, Length: 6531, dtype: int64

In [59]:
import pandas as pd


url = 'https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv'
df = pd.read_csv(url, index_col=0)
TotalChargesMedian = df['TotalCharges'][df['TotalCharges'] != ' '].median()
df.loc[df['TotalCharges'] == ' ', 'TotalCharges'] = TotalChargesMedian
df['TotalCharges'] = df['TotalCharges'].astype('float')

categorical = ['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 
               'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
               'StreamingTV', 'Contract', 'StreamingMovies', 'PaperlessBilling', 'PaymentMethod', 'Churn'] 

numerical = ['tenure', 'MonthlyCharges']
"""print(df.info())
df[categorical] = df[categorical].astype('category')
df[numerical] = df[numerical].astype(float)
print()"""


for col in categorical:
    df[col] = pd.Categorical(df[col]) 
 
for col in numerical:
    df[col] = df[col].astype(float)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 7590-VHVEG to 3186-AJIEK
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   category
 1   SeniorCitizen     7043 non-null   category
 2   Partner           7043 non-null   category
 3   Dependents        7043 non-null   category
 4   tenure            7043 non-null   float64
 5   PhoneService      7043 non-null   category
 6   MultipleLines     7043 non-null   category
 7   InternetService   7043 non-null   category
 8   OnlineSecurity    7043 non-null   category
 9   OnlineBackup      7043 non-null   category
 10  DeviceProtection  7043 non-null   category
 11  TechSupport       7043 non-null   category
 12  StreamingTV       7043 non-null   category
 13  StreamingMovies   7043 non-null   category
 14  Contract          7043 non-null   category
 15  PaperlessBilling  7043 non-null   category
 16  PaymentMethod     7043 non-null   category
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   float64
 19  Churn             7043 non-null   category
dtypes: category(17), float64(3)
memory usage: 658.8+ KB
None

In [60]:
# print describe() for categorical variable

print(df.describe(include=['category']))

       gender  SeniorCitizen Partner  ... PaperlessBilling     PaymentMethod Churn
count    7043           7043    7043  ...             7043              7043  7043
unique      2              2       2  ...                2                 4     2
top      Male              0      No  ...              Yes  Electronic check    No
freq     3555           5901    3641  ...             4171              2365  5174

[4 rows x 17 columns]

In [ ]:
# distribution of churn variable

print(df['Churn'].value_counts())

In [63]:
# Group data by 'Churn' and 'PaymentMethod ' and then find the average value for MonthlyCharges

import pandas as pd


url = 'https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv'
df = pd.read_csv(url, index_col=0)
print(df.groupby(['Churn','PaymentMethod'])['MonthlyCharges'].mean())

Churn  PaymentMethod
No     Bank transfer (automatic)    65.049417
       Credit card (automatic)      64.562209
       Electronic check             74.232032
       Mailed check                 41.403911
Yes    Bank transfer (automatic)    77.875581
       Credit card (automatic)      77.356034
       Electronic check             78.700980
       Mailed check                 54.557143
Name: MonthlyCharges, dtype: float64

In [64]:
# Map the value of Churn  "Yes":1, "No" :0
df['Churn'] = df['Churn'].map({'Yes': 1, 'No': 0})

In [66]:
# Calculate the correlation matrix for the following dataframe

import pandas as pd


url = 'https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv'
df = pd.read_csv(url, index_col=0)
print(df.corr())

                SeniorCitizen    tenure  MonthlyCharges
SeniorCitizen        1.000000  0.016567        0.220173
tenure               0.016567  1.000000        0.247900
MonthlyCharges       0.220173  0.247900        1.000000

In [73]:
import pandas as pd
import numpy as np


np.random.seed(42)

url = 'https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv'
df = pd.read_csv(url, index_col=0)
print(df[:10])

df.sample(10).to_csv("sample_10.csv")

            gender  SeniorCitizen Partner  ... MonthlyCharges  TotalCharges Churn
customerID                                 ...
7590-VHVEG  Female              0     Yes  ...          29.85         29.85    No
5575-GNVDE    Male              0      No  ...          56.95        1889.5    No
3668-QPYBK    Male              0      No  ...          53.85        108.15   Yes
7795-CFOCW    Male              0      No  ...          42.30       1840.75    No
9237-HQITU  Female              0      No  ...          70.70        151.65   Yes
9305-CDSKC  Female              0      No  ...          99.65         820.5   Yes
1452-KIOVK    Male              0      No  ...          89.10        1949.4    No
6713-OKOMC  Female              0      No  ...          29.75         301.9    No
7892-POOKP  Female              0     Yes  ...         104.80       3046.05   Yes
6388-TABGU    Male              0      No  ...          56.15       3487.95    No

[10 rows x 20 columns]

In [83]:
# combine the below series to one dataframe df 

np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))
df = pd.concat([s1,s2],axis=1)
df.columns=["col1","col2"]
print(df)

        col1      col2
0   0.374540 -1.012831
1   0.950714  0.314247
2   0.731994 -0.908024
3   0.598658 -1.412304
4   0.156019  1.465649
5   0.155995 -0.225776
6   0.058084  0.067528
7   0.866176 -1.424748
8   0.601115 -0.544383
9   0.708073  0.110923
10  0.020584 -1.150994
11  0.969910  0.375698
12  0.832443 -0.600639
13  0.212339 -0.291694
14  0.181825 -0.601707
15  0.183405  1.852278
16  0.304242 -0.013497
17  0.524756 -1.057711
18  0.431945  0.822545
19  0.291229 -1.220844

In [84]:
# extract rows from df[col2 ] which is between 0.0 and 1.0

print(df[df['col2'].between(0.0, 1.0)])

print(df[(df['col2'] >= 0.0) & (df['col2'] <= 1.0)])

        col1      col2
1   0.950714  0.314247
6   0.058084  0.067528
9   0.708073  0.110923
11  0.969910  0.375698
18  0.431945  0.822545
        col1      col2
1   0.950714  0.314247
6   0.058084  0.067528
9   0.708073  0.110923
11  0.969910  0.375698
18  0.431945  0.822545

In [ ]:
# make col3 as 1 if value in col2 is non negative else -1

df['col3'] = df['col2'].map(lambda x: 1 if x >= 0 else -1)
print(df)

In [ ]:
# make col4 to truncate values of col2 in range of -1.0 to 1.o
df['col4'] = df['col2'].clip(-1.0, 1.0)
print(df)

In [87]:
a= df['col2'].sort_values().head()
print(a)

7    -1.424748
3    -1.412304
19   -1.220844
10   -1.150994
17   -1.057711
Name: col2, dtype: float64

In [91]:
# print the top 5 highest values and then lowest

#print(df['col2'].sort_values(ascending=False).head())
#print()
#print(df['col2'].sort_values().head())

print(df['col2'].nlargest(5))
print()
print(df['col2'].nsmallest(5))

15    1.852278
4     1.465649
18    0.822545
11    0.375698
1     0.314247
Name: col2, dtype: float64

7    -1.424748
3    -1.412304
19   -1.220844
10   -1.150994
17   -1.057711
Name: col2, dtype: float64

In [92]:
# Find the cumulative sum of the pandas dataframe

print(df.cumsum())

        col1      col2
0   0.374540 -1.012831
1   1.325254 -0.698584
2   2.057248 -1.606608
3   2.655907 -3.018912
4   2.811925 -1.553263
5   2.967920 -1.779039
6   3.026004 -1.711511
7   3.892180 -3.136259
8   4.493295 -3.680642
9   5.201367 -3.569719
10  5.221952 -4.720713
11  6.191862 -4.345015
12  7.024304 -4.945653
13  7.236643 -5.237347
14  7.418468 -5.839054
15  7.601873 -3.986776
16  7.906115 -4.000273
17  8.430872 -5.057984
18  8.862817 -4.235439
19  9.154046 -5.456283

In [94]:
# calculate the median of the col2 variable

print(df['col2'].median())

# or 
print(df['col2'].quantile())

-0.4180382371592297
-0.4180382371592297

In [96]:
# Extract rows for which col2 value is greater than 0.0

print(df[df['col2']>0.0])

# or

print(df.query("col2 > 0"))

        col1      col2
1   0.950714  0.314247
4   0.156019  1.465649
6   0.058084  0.067528
9   0.708073  0.110923
11  0.969910  0.375698
15  0.183405  1.852278
18  0.431945  0.822545
        col1      col2
1   0.950714  0.314247
4   0.156019  1.465649
6   0.058084  0.067528
9   0.708073  0.110923
11  0.969910  0.375698
15  0.183405  1.852278
18  0.431945  0.822545

In [101]:
# Convert the pandas dataframe to dictionary 
df.head().to_dict('dict')

{'col1': {0: 0.3745401188473625,
  1: 0.9507143064099162,
  2: 0.7319939418114051,
  3: 0.5986584841970366,
  4: 0.15601864044243652},
 'col2': {0: -1.0128311203344238,
  1: 0.3142473325952739,
  2: -0.9080240755212109,
  3: -1.4123037013352915,
  4: 1.465648768921554}}

In [102]:
# Convert the pandas dataframe to html 
print(df.head().to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>col1</th>
      <th>col2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.374540</td>
      <td>-1.012831</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.950714</td>
      <td>0.314247</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.731994</td>
      <td>-0.908024</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.598658</td>
      <td>-1.412304</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.156019</td>
      <td>1.465649</td>
    </tr>
  </tbody>
</table>

In [104]:
# Print all values of dataframe where col C is greater than 0.8

np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
print(df[df['C']>0.8])
#print(df.loc[df['C'] > 0.8])

          A         B         C         D
8  0.065052  0.948886  0.965632  0.808397
          A         B         C         D
8  0.065052  0.948886  0.965632  0.808397

In [ ]:
# Print all values of dataframe where col C is greater than 0.3 and D is less than 0.7


print(df[(df['C']>0.3) & (df['D']<0.7)])

In [ ]:
# print first five rows in a dataframe
for i,j in df.iterrows():
    if i<5:
        print(j)

# Alternative
for index, row in df.head().iterrows():
    print(row)

In [ ]:
# set np.nan at ["B"][3] and ["D"] [8]

df["B"].iloc[3] = np.nan
df["D"].iloc[8] = np.nan
print(df)

df.iloc[3, 1] = np.nan
df.loc[8, 'D'] = np.nan
print(df)